footer.footer
    .container
        .footer__top

            .footer__block.footer__block--left
                .footer__title: img.footer__logo(src="images/logo.png")
                p.footer__description.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation

            .footer__block.footer__block--center
                .footer__title
                    h4 Our studio
                .footer__contacts
                    .footer__contact
                        .footer__contact--icon: i.fa.fa-map-marker(aria-hidden="true")
                        .footer__contact--text: a(href="#") Ruko cucruk, Jl. Radio luar dalem jos No.12 - 13, Kalideres - Jakarta Barat 11480 - Indonesia
                    .footer__contact
                        .footer__contact--icon: i.fa.fa-phone(aria-hidden="true")
                        .footer__contact--text: a(href="#") (+62) 21-2224 3333

            .footer__block.footer__block--right
                .footer__title
                    h4 Stay in touch
                .footer__form
                    form.footer__field
                        input.form__input.form__input--footer(placeholder="Subscribe our newsletter")
                        button.button.button--footer(type="submit"): img(src="images/paper.png")
                    .footer__socials
                        a.footer__social(href="#")
                            i.footer__icon.fa.fa-facebook(aria-hidden="true")
                        a.footer__social(href="#")
                            i.footer__icon.fa.fa-twitter(aria-hidden="true")
                        a.footer__social(href="#")
                            i.footer__icon.fa.fa-dribbble(aria-hidden="true")
                        a.footer__social(href="#")
                            i.footer__icon.fa.fa-instagram(aria-hidden="true")
                        a.footer__social(href="#")
                            i.footer__icon.fa.fa-google-plus(aria-hidden="true")
                        a.footer__social(href="#")
                            i.footer__icon.fa.fa-youtube-play(aria-hidden="true")
        .footer__bottom
            nav.footer__nav
                a.nav__link(href="#") Help
                a.nav__link(href="#") Terms & Condition
                a.nav__link(href="#") Privacy
            .footer__copy Copyright &copy; 2015 - Tajam Creative

