section.hero
    .container
        include header
        .hero__main-text.owl-carousel.owl-theme
            .single-slide
                h1.hero__title We are awesome creative agency
                .line: .line__separate
                p.hero__desription.
                    This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                    Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum,
                    nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a
                    sit amet mauris. Morbi accumsan ipsum velit.
                a.button.button--green(href="#") Learn More
            .single-slide
                h1.hero__title We are awesome creative agency
                .line: .line__separate
                p.hero__desription.
                    This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                    Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum,
                    nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a
                    sit amet mauris. Morbi accumsan ipsum velit.
                a.button.button--green(href="#") Learn More
            .single-slide
                h1.hero__title We are awesome creative agency
                .line: .line__separate
                p.hero__desription.
                    This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                    Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum,
                    nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a
                    sit amet mauris. Morbi accumsan ipsum velit.
                a.button.button--green(href="#") Learn More
            //.controls
                span.controls__toggle
                span.controls__toggle.controls__toggle--active
                span.controls__toggle
                span.controls__toggle


