.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 560px;
    margin: 0;


  &__link {
    font-family: $ff-main-black;
    text-transform: uppercase;
    color: #fff;

    &:hover {
      color: #00e0d0;
    }
  }

  @media (max-width: 768px) {
    background-color: $c-background-nav;
    display: none;
    justify-content: flex-start;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100%;
    min-width: 320px;
    z-index: 9999;

    &--active {
      display: block;
    }

    &__link {
      display: block;
      padding: 20px;

      &:hover {
        color: #fff;
      }
    }
  }
}

