// Fonts
$ff-main: 'Roboto-Light';
$ff-main-regular: 'Roboto-Regular';
$ff-main-black: 'Roboto-Black';
$ff-hero-title: 'PlayfairDisplay-Black';
$ff-title-header: 'PlayfairDisplay-Bold';
$ff-description: 'PlayfairDisplay-Regular';
$ff-button: 'HammersmithOne-Regular';